<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>登录:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-full-width" align="end">
        <input matInput placeholder="UserName">
      </mat-form-field>
      <mat-form-field class="example-full-width" align="end">
        <input matInput placeholder="Password">
      </mat-form-field>
      <button mat-raised-button="">登录</button>
    </mat-card-content>
    <mat-card-actions>
      <p>还没有帐户？<a>注册</a></p>
      <p>忘记密码？<a>找回</a></p>
    </mat-card-actions>
  </mat-card>
</form>
